:root {
  --color-bg: #ffeae8;
  --color-white: #ffffff;
  --color-black: #212121;
  --color-red: #f44336;
  --color-gray: #c5c5be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background: var(--color-bg);
  color: var(--color-black);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
